html,
body {
    height: 100%;
}

.container {
    background-position: center;
    background-size: cover;
    transition: background-image 3s;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 15px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    position: absolute;
    top: -50px;
    left: 50%;
    z-index: 10;
    margin: 0px 0px 0px -50px;
    opacity: 0.9;
    animation: logo 2s ease-out;

    .logo-part {
        position: relative;
        width: 28px;
        height: 28px;
        border-radius: 15%;
        opacity: 0.9;
        align-self: center;
    }
    .orange {
        background-color: #f8911d;
        top: 4px;
        left: 29px;
    }
    .violet {
        background-color: #d1369c;
        top: 18px;
        right: 7px;
        z-index: 2;
    }
    .blue {
        background-color: #3e9ffd;
        top: -18px;
        left: 29px;
    }
    .green {
        background-color: #4ebf49;
        top: -4px;
        right: 7px;
        z-index: 2;
    }
}

.form-container {
    background-color: #eff5f1;
    max-width: 360px;
    height: 420px;
    margin: 200px 50px;
    padding: 40px;
    position: relative;
    box-shadow: 0px 6px 16px 8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 6px 16px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 16px 8px rgba(0, 0, 0, 0.75);
    animation: form 1s ease-in;
}

@keyframes form {
    0% {
        transform: perspective(2500px) rotateX(-60deg);
        transform-origin: top;
        opacity: 0.6;
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes logo {
    0% {
        transform: perspective(2500px) rotateX(90deg);
        transform-origin: top;
        opacity: 1;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .logo-container {
        width: 80px;
        height: 80px;
        top: -40px;
        left: 50%;
        margin: 0px 0px 0px -40px;
    }
}

@media (max-width: 768px) {
}
