$--color-blue-100: #3e9ffd;
$--color-blue-200: #4794e0;
$--color-orange: #f8911d;
$--color-violet: #d1369c;
$--color-green: #4ebf49;
$--color-white: #ffffff;
$--color-gray-100: #eff5f1;
$--color-gray-200: #d6d6d6;
$--color-gray-300: #abafac;
$--color-gray-400: #767877;
